meta(charset='utf-8')
meta(http-equiv='content-type', content='IE=edge,chrome=1')
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0')
title #{ title }
meta(name='theme-color', content='#393E45')
link(rel="stylesheet" href="/styles/vendor/modern-normalize.css")
link(rel="stylesheet" href="/styles/vendor/github-markdown.css")
link(rel="stylesheet" href="/styles/main.css")
